@use "../style/common" as common;
@import "../style/variables";
.banner_section_wrapper {
  width: 100%;
  padding: 8px 10%;
  overflow: hidden;
  position: relative;
  .banner_list_wrapper {
    width: 100%;
    display: flex;
  }
}
