@use "../style/common" as common;
@import "../style/variables";
.content_list_section_wrapper {
  background-color: $default-border-color;
  height: 100%;
  position: relative;
  .content_list_wrapper {
    @include common.flex-center();
  }
  #pivot {
    position: absolute;
    bottom: 0;
    &.loading {
      display: none;
    }
  }
}
