@use "../style/common" as common;
@import "../style/variables";

#header {
  background-color: $default-main-color;
  width: 100%;
  height: 36px;
  padding: 4px 0;
  @include common.flex-center();
  .header_wrapper {
    @include common.flex-center("column");
    overflow-x: scroll;
    justify-content: flex-start;
    font-weight: bold;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    .header_category {
      margin: 0 16px;
      word-break: keep-all;
      &.selected {
        color: white;
      }
    }
  }
}
